<!DOCTYPE html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>PIN-HUB - generate and verify pins</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="get pins to verify and tokenize your apps" />
	<meta name="keywords" content="pins,verify,unique,tokens" />
	<meta property="og:title" content="Pin-hub"/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<link rel="shortcut icon" href="favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Sanchez:400,400italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>	
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	</head>
	<body>
		<main role="banner" id="fh5co-header" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="fh5co-intro-wrap">
					<div class="fh5co-intro">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center">
								<h1 class="fh5co-intro-lead animate-1 to-animate">PIN - HUB</h1>
								<h2 class="fh5co-intro-sub animate-2 to-animate">ADD PINS AND TOKENS TO YOUR SITE WITH PIN-HUB</h2>
								<a class="btn btn-secondary" style="color: rgba(68, 218, 130,0.9);font-family: Montserrat" href="/sign-in">USE IT NOW</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		
		<script src="/assets/js/jquery-slim.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="js/main-1.js"></script>	
	</body>
</html>
