<!DOCTYPE html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>PIN-HUB - generate and verify pins</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="generate pins to authorize and tokenize your apps" />
	<meta name="keywords" content="pins,verify,unique,tokens" />
	<meta property="og:title" content="Pin-hub"/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content="PIN HUB"/>
	<meta property="og:description" content="generate pins to authorize and tokenize your apps"/>
	<meta name="twitter:title" content="PIN HUB" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="generate pins to authorize and tokenize your apps" />
	<link rel="shortcut icon" href="favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Sanchez:400,400italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>	
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<style>
		body,html {
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
			font-size: 16px;
		}
		* {
			box-sizing: border-box;
		}
		main {
			display: flex;
			height: 100%;
			width: 100%;
			background-color: rgb(8, 141, 230);
			color: white;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		h1 {
			font-size: 5.5rem;
			font-weight: 700;
			letter-spacing: 15px;
			line-height: 6rem;
		}
		.text {
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 2rem;
		}
		.signup-btn {
			background-color: #EEEEEE;
			border-radius: 12px;
			color: rgb(8, 141, 230);
			padding: 15px 80px;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1.5rem;
		}
	</style>
	</head>
	<body>
		<main>
			<div class="container">
				<h1>PIN HUB</h1>
				<p class="text">Tokenize your apps, add pin validation to authenticate your apps</p>
				<a class="signup-btn btn btn-lg" href="/sign-up">Let's go</a>
			</div>
		</main>
		<script src="/assets/js/jquery-slim.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/main-1.js"></script>	
	</body>
</html>
