<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Todo - PIN HUB</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">TODOs</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">Things to update</h1>
        <p class="lead">Update and modify when validated and on admin page</p>
        <p><a class="btn btn-lg btn-danger" href="#" role="button">IMPORTANT</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4 class="text-success bg-inverse p-3">MODIFY and UPDATE</h4>
          <p>Add ability to update and modify data after verification and on admin page</p>

          <h4 class="text-success bg-inverse p-3">SIGN IN OPTIONS</h4>
          <p>Ability to create account and each person have their DB of pins</p>

          <h4 class="text-success bg-inverse p-3">DESIGN IMPROVEMENTS</h4>
          <p>Redesign pages especially homepage to show percentage of used and unused pins</p>

          <h4 class="text-success bg-inverse p-3">SORT BY CLICKING TH</h4>
          <p>Use <code>fetch('/user/sort/:id')</code>on each TH to sort</p>
        </div>

        <div class="col-lg-6">
          <h4 class="text-success bg-inverse p-3">KEEP TRACK OF ALL GENERATED AND USED PINS</h4>
          <p>Create a model for generated and used pins</p>

          <h4 class="text-success bg-inverse p-3">MAKE PINS UNIQUE</h4>
          <p>Add <code>{unique: true}</code> to make pins unique</p>

          <h4 class="text-success bg-inverse p-3">PAGINATION</h4>
          <p>Using <code>req.query.page</code> to load only 20 pins per page</p>

          <h4 class="text-success bg-inverse p-3">MARK AND SET AS USED/ UNUSED /DELETE</h4>
          <p>Use <code>input[checkbox]</code> with the same values</p>

          <h4 class="text-success bg-inverse p-3">SHOW ONLY USED AND UNUSED PINS</h4>
          <p></p>

        </div>

      </div>

      <footer class="footer">
        <p>&copy; Ekonash</p>
      </footer>

    </div>
  </body>
</html>
