<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <!-- <li class="sidebar-brand">
      <a class="py-3" href="#">
        Start Bootstrap
      </a>
    </li> -->
    <li>
      <a class="py-3 <%= page === 'dashboard' ? 'active':'' %>" href="#">Dashboard</a>
    </li>
    <li>
      <a class="py-3 <%= page === 'pin categories' ? 'active':'' %>" href="categories">Pin Categories</a>
    </li>
    <li>
      <a class="py-3 <%= page === 'pins' ? 'active':'' %>" href="pins">Pins</a>
    </li>
  </ul>
</div>