<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <!-- <li class="sidebar-brand">
      <a class="py-3" href="#">
        Start Bootstrap
      </a>
    </li> -->
    <li>
      <a class="py-3 <%= page === 'dashboard' ? 'active':'' %>" href="/user">Dashboard</a>
    </li>
    <li>
      <a class="py-3 <%= page === 'categories' ? 'active':'' %>" href="/user/categories">Categories</a>
    </li>
    <li>
      <a class="py-3 <%= page === 'pins' ? 'active':'' %>" href="/user/pins">Pins</a>
    </li>
    <li>
      <a class="py-3 <%= page === 'settings' ? 'active':'' %>" href="/user/settings">settings</a>
    </li>
  </ul>
</div>