<%- include('../templates/user-header', { styles: [] }) %>
  <%- include('../templates/sidebar', { page: "pins" }); %>
    <div id="page-content-wrapper" class="container m-auto pt-5">
      <h3 class="font-weight-light">Generate Pins</h3>
      <div class="form">
        <div class="form-group row">
          <div class="col-3">
            <label for=""></label>
          </div>
          <div class="col-9">
            <input type="text" class="form-control">
          </div>
        </div>
        <select name="category" id="" class="custom-select">
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>
      </div>
    </div>
    </div>
    <%- include('../templates/bottom') %>