<%- include('../templates/user-header', { styles: [] }) %>
<%- include('../templates/sidebar', { page: "pins" }); %>
      <div id="page-content-wrapper" class="container m-auto pt-5">
        <h3 class="font-weight-light">Generate Pins</h3>
        <div class="form">
          <select name="category" id="" class="custom-select">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>
      </div>
  </div>
  <%- include('../templates/bottom') %>